<div class="prod-intro">
  <h1 class="fade-in">LOS PRODUCTOS QUE OFRECEMOS</h1>
</div>

<div class="prod-texto">
  <p class="fade-in">Distintos cedazos según las especificaciones del cliente, teniendo en cuenta los distintos elementos como lo son el tamaño del agujero, el diámetro del alambre, el tipo de tejido, el tipo de enganche y las dimensiones de la malla</p>
</div>

<%= render 'layouts/products_table.html.erb' %>

<div class="title center">
  <h1>Tipos de Tejidos</h1>
</div>

<%= render 'layouts/buy_form.html.erb' %>
