<div class="prod-intro">
  <h1 class="fade-in">LOS PRODUCTOS QUE OFRECEMOS</h1>
</div>

<div class="prod-texto">
  <p class="fade-in">Distintos cedazos según las especificaciones del cliente, teniendo en cuenta los distintos elementos como lo son el tamaño del agujero, el diámetro del alambre, el tipo de tejido, el tipo de enganche y las dimensiones de la malla</p>
</div>

<%= render 'layouts/products_table.html.erb' %>

<div class="title center">
  <h1>Tipos de Tejidos</h1>
</div>

<div class="first-row">

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://faveseca.s3.amazonaws.com/tejido1.png" alt="Tejido 1">
    <div class="card-body">
      <h5 class="card-title">Tejido 1</h5>
      <p class="card-text">Realizado con alambre ondulado. Gran rigidez, asegurando perfecta granulometría</p>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://faveseca.s3.amazonaws.com/tejido2.png" alt="Tejido 1">
    <div class="card-body">
      <h5 class="card-title">Tejido 2</h5>
      <p class="card-text">Realizado con alambre estampado en dos caras. Realiza un mejor cribado.</p>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://faveseca.s3.amazonaws.com/tejido3.png" alt="Tejido 1">
    <div class="card-body">
      <h5 class="card-title">Tejido 3</h5>
      <p class="card-text">Realizado con alambre estampado en una cara. Crea una superficie plana donde el material fluye fácilmente.</p>
    </div>
  </div>

</div>


<div class="second-row">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://faveseca.s3.amazonaws.com/tejido4.png" alt="Tejido 1">
    <div class="card-body">
      <h5 class="card-title">Tejido 4</h5>
      <p class="card-text">Realizado con alambre ondulado. La ligera vibración hace que sea auto limpiante.</p>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://faveseca.s3.amazonaws.com/tejido5.png" alt="Tejido 1">
    <div class="card-body">
      <h5 class="card-title">Tejido 5</h5>
      <p class="card-text">Realizado con alambre ondulado o estampado en dos caras. Se logra un incremento de área abierta.</p>
    </div>
  </div>
</div>

<div class="first-row">
  <div class="card" style="width: 18rem;">
    <img src="https://faveseca.s3.amazonaws.com/enganche1.png" alt="Enganche 1" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">Enganche 1</h5>
      <p class="card-text">Extremos de cedazos doblados y protegidos exteriormente con lamina de 1.8mm de espesor (alambre 2mm en adelante)</p>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="https://faveseca.s3.amazonaws.com/enganche2.png" alt="Enganche 2" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">Enganche 2</h5>
      <p class="card-text">Extremo de cedazos doblado reforzado internamente con ángulo soldado (alambre 8mm en adelante)</p>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="https://faveseca.s3.amazonaws.com/enganche3.png" alt="Enganche 3" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">Enganche 3</h5>
      <p class="card-text">Ángulo de 6mm de espesor soldado externamente (alambre 8mm en adelante)</p>
    </div>
  </div>
</div>
