@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
#navbar-logo {
  padding: .5% 0;
  z-index: 1;
  justify-self: start;
  margin-left: 10px;
  margin-top: 3.5%
}

#navbar-a, #navbar-b , #navbar-c , #navbar-d, #navbar-e {
  font-size: calc(12px + 6 * ((100vw - 320px)/ 600));
  font-family: 'Lato', sans-serif;
  color: #000;
  padding-bottom: 4%
}

#navbar-a, #navbar-b , #navbar-c , #navbar-d, #navbar-e:hover {
  background-color: transparent
}

li > a {
  position: relative;
  color: #000;
  text-decoration: none
}

li > a:hover {
  color: #000
}

li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);transform:scaleX(0);
  -webkit-transition: all .3s ease-in-out 0s;
  transition: all .3s ease-in-out 0s
}

li > a:hover:before {
  visibility: visible;
  -webkit-transform:scaleX(1);
  transform:scaleX(1)
}

.container {
  display: grid;
  grid-template-columns: 50% 50%
}

.nav {
  width: 100%;
  height: 65px;
  position: fixed;
  line-height: 70px;
  text-align: center;
  z-index:10
}

.nav div.logo {
  width:auto;
  height: auto;
  padding-left: 3rem;
}

.nav div.main_list {
  height: 65px;
  justify-self: end
}

.nav div.main_list ul {
  width: 100%;
  height: 65px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav div.main_list ul li {
  width: auto;
  height: 50px;
  padding: 0;
  padding-left: 2rem;
}

.nav div.main_list ul li a {
  text-decoration :none;
  line-height: 50px;
}
.navTrigger {
  display: none;
}

.nav {
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.nav-picture {
  background: 0 0;
  background-image: url(bulma-logo.webp);
  background-size: cover;
}

@media screen and (min-width:768px) and (max-width:1024px) {
  .container {
    margin: 0
  }
}

@media screen and (max-width:768px) {
  .navTrigger {
    display: block;
  }
  .nav div.main_list {
   height: 0;
   overflow: hidden;
  }
  .nav div.show_list {
    width: 100%;
    height: auto;
    display: none;
  }
  .nav div.main_list ul {
    flex-direction: column;
    width: 100%;
    height: 100vh;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #effffb;
    opacity: .95;
    background-position: center top;
  }
  .nav div.main_list ul li {
    width: 100%;
    text-align: right;
    padding-right: .2rem;
  }
  .nav div.main_list ul li a {
    text-align: center;
    width: 100%;
    font-size: 3rem;
    padding: 20px;
  }
  .nav div.media_button {
    display: block;
  }
}

.navTrigger {
  cursor: pointer;
  width: 30px;
  height: 25px;
  margin: auto;
  position: absolute;
  right: 30px;
  top: 0;
  bottom: 0;
}

.navTrigger i {
  background-color: #000;
  border-radius: 2px;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
}

.navTrigger i:nth-child(1) {
  -webkit-animation: outT .8s backwards;
  animation: outT .8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
  margin: 5px 0;
  -webkit-animation: outM .8s backwards;
  animation: outM .8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction:reverse;
}

.navTrigger i:nth-child(3) {
  -webkit-animation: outBtm .8s backwards;
  animation: outBtm .8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}


.navTrigger.active i:nth-child(1) {
  -webkit-animation: inT .8s forwards;
  animation: inT .8s forwards
}

.navTrigger.active i:nth-child(2) {
  -webkit-animation: inM .8s forwards;
  animation: inM .8s forwards
}

.navTrigger.active i:nth-child(3) {
  -webkit-animation: inBtm .8s forwards;
  animation: inBtm .8s forwards
}

@-webkit-keyframes inM {
  50% {
    -webkit-transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes inM {
  50% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(45deg);
  }
}

@-webkit-keyframes outM {
  50% {
    -webkit-transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes outM {
  50% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(45deg);
  }
}

@-webkit-keyframes inT {
  0% {
    -webkit-transform: translateY(0) rotate(0);
  }

  50% {
    -webkit-transform: translateY(9px) rotate(0);
  }

  100% {
    -webkit-transform:translateY(9px) rotate(135deg);
  }
}

@keyframes inT {
  0% {
    transform: translateY(0) rotate(0);
  }

  50% {
    transform: translateY(9px) rotate(0);
  }

  100% {
    transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes outT {
  0% {
    -webkit-transform: translateY(0) rotate(0);
  }

  50% {
    -webkit-transform: translateY(9px) rotate(0);
  }

  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes outT {
  0% {
    transform: translateY(0) rotate(0);
  }

  50% {
    transform: translateY(9px) rotate(0);
  }

  100% {
    transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes inBtm {
  0% {
    -webkit-transform: translateY(0) rotate(0);
  }

  50% {
    -webkit-transform: translateY(-9px) rotate(0);
  }

  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes inBtm {
  0% {
    transform: translateY(0) rotate(0);
  }

  50% {
    transform:translateY(-9px) rotate(0);
  }

  100% {
    transform:translateY(-9px) rotate(135deg);
  }
}

@-webkit-keyframes outBtm {
  0% {
    -webkit-transform:translateY(0) rotate(0);
  }
  50% {
    -webkit-transform:translateY(-9px) rotate(0);
  }

  100% {
    -webkit-transform:translateY(-9px) rotate(135deg);
  }
}

@keyframes outBtm {
  0% {
    transform:translateY(0) rotate(0)
  }

  50%{
    transform:translateY(-9px) rotate(0)
  }

  100% {
    transform:translateY(-9px) rotate(135deg)
  }
}

.affix {
  padding: 0;
  background-color: #ecf0f1;
  opacity: .95;
}
