@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

.my-card {
  background-color: white;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
  color: #4a4a4a;
  max-width: 100%;
  position: relative;
}

.my-card-header {
  background-color: transparent;
  align-items: stretch;
  box-shadow: 0 0.125em 0.25em rgba(10, 10, 10, 0.1);
  display: flex;
}

.card-width {
  width: 25%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 40px;
}

.services-display {
  display: flex;
  padding: 3vh;
}

div.content {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}

.card-title {
  flex-direction: column;
  align-items: center;
  color: #363636;
  display: flex;
  flex-grow: 1;
  font-weight: 700;
  padding: 0.75rem 1rem;
  font-family: 'Roboto Condensed', sans-serif;
}

.card-text {
  background-color: transparent;
  padding: 1.5rem;
}

.card-foot {
  background-color: transparent;
  border-top: 1px solid #ededed;
  align-items: stretch;
  display: flex;
}

.card-foot-text {
  align-items: center;
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: center;
  padding: 0.75rem;
}

.one-on-one {
  width: 100%;
  height: auto;
}

.lets-talk {
  width: 80%;
  margin: auto;
  height: auto;
  border: 7px solid #34495e;
  margin-top: 30px;
  margin-bottom: 70px;
  padding: 5vh 3vh;
}

.more-services {
  background-color: #34495e;
  border-radius: 5px;
}

.talk-title {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  margin-top: 25px;
}

.one-p {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Roboto Condensed', sans-serif;
}

.border-bottom {
  width: 60%;
  margin: auto;
  margin-top: 50px;
  border: 2px solid #34495e;
}

.price {
  text-align: center;
  font-size: 18px;
  font-weight: lighter;
  margin-top: 30px;
}

.talk-buttons {
  text-align: center;
  margin-top: 70px;
  display: block;
  text-decoration: none;
  a {
    background-color: #34495e;
    color: #fff;
    padding: 10px 12px;
    border-radius: 3px;
    font-size: 14px;
    margin-right: 30px;
    margin-left: 30px;
    transition: 0.3s;
  }
  a:hover {
    color: #34495e;
    background: #fff;
  }
}

.book-link {
  background-color: #34495e;
  color: #fff;
  transition: 0.3s;
  text-decoration: none;
}

.book-link:hover {
  color: #34495e;
  background-color: #fff;
}

@media (max-width: 425px) {
  .services-display {
    display: block;
    grid-template-columns: 100%;
    padding: 3vh;
  }

  .card-width {
    width: 85%;
  }

  .services-display {
    display: block;
  }

  .footer {
    justify-content: space-between;
  }

  .lets-talk {
    border: none;
  }

  .talk-buttons {
    margin-top: 7vh;
  }
}

@media(max-width: 400px) {
  .services-display {
    display: block;
  }

  .card-width {
    width: 85%;
  }
}
