<div class="footer" id="contact-link">
  <div class="footer-info">
    <h1><strong><u>CONTACTO</u></strong></h1><br>
    <p>Calle 16 entre Av. 3 y 4 de la zona industrial 1<br>Barquisimeto, Lara, Venezuela</p><br>
    <a href="mailto:favececa2016@gmail.com">Email</a><br>
    <p> TEL: +58 2512374407</p><br>
    <p> TEL: +58 4245103864</p><br>
    <p> TEL: +58 4245177890</p><br>
  </div>

  <!-- <div class="footer-form">
    <div class="field">
      <label for="fullName" class="label">Full Name</label>
      <div>
        <input id="fullName" class="input" type="text" placeholder="e.g John Doe">
      </div>
    </div>

    <div class="field">
      <label for="email" class="label">Email *</label>
      <div>
        <input id="email" class="input" type="email" placeholder="e.g. johndoe@gmail.com">
      </div>
    </div>

    <div class="field">
      <label for="message" class="label">Message</label>
      <div>
        <textarea id="message" class="textarea" placeholder="What's your message"></textarea>
      </div>
    </div>

    <div>
      <button class="button is-primary" id="submit-btn">Submit</button>
    </div>
  </div> -->

</div>
<div class="signature">
  Website built by <a href="https://www.jmdevshop.com" target="_blank" rel="noopener noreferrer"><u>JM Dev, LLC<u></a>
</div>
