<div class="footer" id="contact-link">
  <div class="footer-info">
    <h1><strong><u>CONTACT</u></strong></h1><br>
    <p>1114  Hawks Nest Lane <br>Saint Louis, MO 63101</p><br>
    <p> TEL: 314-713-3413</p><br>
  </div>

  <div class="footer-form">
    <div class="field">
      <label for="fullName" class="label">Full Name</label>
      <div>
        <input id="fullName" class="input" type="text" placeholder="e.g John Doe">
      </div>
    </div>

    <div class="field">
      <label for="email" class="label">Email *</label>
      <div>
        <input id="email" class="input" type="email" placeholder="e.g. johndoe@gmail.com">
      </div>
    </div>

    <div class="field">
      <label for="message" class="label">Message</label>
      <div>
        <textarea id="message" class="textarea" placeholder="What's your message"></textarea>
      </div>
    </div>

    <div>
      <button class="button is-primary" id="submit-btn">Submit</button>
    </div>
  </div>

</div>
<div class="signature">
  Website built by <a href="https://www.jmdevshop.com" target="_blank" rel="noopener">JM Dev, LLC</a>
</div>
